spring:
  application:
    name: ai-audit-log

  datasource:
    url: jdbc:mysql://localhost:3306/ai_audit_log?serverTimezone=Asia/Seoul
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true